import mockjs from 'mockjs';

export default {
  'GET /api/{{ name }}': mockjs.mock({
    success: true,
    'data|5-15': [
      {{ digestOpt(opt, 6)|safe }}
    ],
  }),
  'POST /api/test': (req: Request, res: Response) => {
    res.send({ 
      success: true, 
      data: {
        ...req.body,
        id: Math.random(),
      } 
    });
  },
  'DELETE /api/{{ name }}/:id': (req: Request, res: Response) => {
    res.send({ 
      success: true,
      data: req.params.id,
    });
  },
};
