/**
 * {{ name }}
 */
import { Effect } from 'dva';
import { Reducer } from 'redux';
import { query, update, create, remove } from '@/services/{{ name }}';

export interface ModelType {
  namespace: '{{ name }}';
  state: StateType;
  effects: {
    list: Effect;
    create: Effect;
    update: Effect;
    remove: Effect;
  };
  reducers: {
    setState: Reducer<StateType>;
    showModalUpsert: Reducer<StateType>;
    hideModalUpsert: Reducer<StateType>;
  };
}

export interface StateType {
  loading: boolean;
  modalUpsertVisible: boolean;
  list: any[];
  current?: any;
}

const Model: ModelType = {
  namespace: '{{ name }}',
  state: {
    list: [],
    loading: false,
    modalUpsertVisible: false,
  },
  effects: {
    *list(action, { call, put }) {
      yield put({
        type: 'setState',
        payload: {
          loading: true,
        },
      });

      const res = yield call(query, action.payload);

      yield put({
        type: 'setState',
        payload: {
          list: res.data,
          loading: false,
        },
      });
    },
    *create(action, { call, put, select }) {
      const res = yield call(create, action.payload);
      const { {{ name }} } = yield select();

      yield put({
        type: 'setState',
        payload: {
          modalUpsertVisible: false,
          list: [ res.data, ...{{ name }}.list ],
        },
      });
    },
    *update(action, { call, put, select }) {
      const { id, values } = action.payload;
      const res = yield call(update, id, values);
      const { {{ name }} } = yield select();

      yield put({
        type: 'setState',
        payload: {
          modalUpsertVisible: false,
          list: {{ name }}.list.map((d: any) => {
            if (d.id === id) {
              return {
                ...d,
                ...values,
              };
            }
            return d;
          }),
        },
      });
    },
    *remove(action, { call, put, select }) {
      const res = yield call(remove, action.payload);
      const { {{ name }} } = yield select();

      yield put({
        type: 'setState',
        payload: {
          list: {{ name }}.list.filter((item: any) => item.id !== action.payload),
        },
      });
    },
  },
  reducers: {
    setState(state: StateType, action) {
      return {
        ...state,
        ...action.payload,
      };
    },
    showModalUpsert(state: StateType, action) {
      return {
        ...state,
        current: action.payload,
        modalUpsertVisible: true,
      };
    },
    hideModalUpsert(state: StateType, action) {
      return {
        ...state,
        modalUpsertVisible: false,
      };
    }
  },
};

export default Model;